<ul>
	<% @projects.each do |project| %>
	<li> <%= link_to project.name, {action: "show", id: project.id} %> 
		<% if project.description != nil %> - <%= project.description %> </li>
		<%end%>
	<%end%>

</ul>

<%= link_to "Create new project!", "/projects/new" %>